name: Update Building System

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  execute_R:
    runs-on: ubuntu-latest
    steps:
    -
      name: Cancel previous runs
      uses: styfle/cancel-workflow-action@0.9.1
      with:
        access_token: ${{ secrets.GITHUB_TOKEN }}
    -
      name: Check out the repo
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.ACTIONS_PAT }}
    -
      name: Setup R
      uses: r-lib/actions/setup-r@v2
      with:
        use-public-rspm: true
    -
      name: Install packages declared in DESCRIPTION
      uses: r-lib/actions/setup-r-dependencies@v2
      with:
        cache-version: 2
        needs: Actions
        extra-packages: local::.
    -
      name: Run Script
      run: |
        source("execute.R")
      shell: Rscript {0}
    -
      name: Commit changes
      uses: EndBug/add-and-commit@v9
      with:
        default_author: github_actions
